[submodule "AtMoDat_CVs"]
	path = AtMoDat_CVs
	url = https://github.com/AtMoDat/AtMoDat_CVs.git
	branch = master
[submodule "demo_data"]
	path = demo_data
	url = https://github.com/AtMoDat/demo_data
	branch = master
